.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3ba5ec;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-menu {
  color: #3ba5ec;
}

/* USE THE ABOVE FOR SPINNER.CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.WeeklyCast {
  margin: 0 auto;
  margin-top: 3%;
  position: relative;
  width: 85%;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.366);
}

.TodaysForecast {
  margin: 0 auto;
  margin-top: 10%;
  position: relative;
  width: 50%;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.549);
  display: flex;
  justify-content: space-around;
}

.daily-left {
  display: flex;
  justify-content: space-evenly;
}

.daily-right {
}

.current-temp {
  font-size: 50px;
}

.btn-panel {
  display: inline-flex;
  height: 25%;
}

li {
  list-style-type: none;
}

.weekly-cast-header {
  margin-bottom: 20px;
}

/* USE ABOVE for APP.css */
.dailyTemps {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

html {
  background-image: url(assets/SKY.webp);
}
/* USE ABOVE FOR DAILYWEATHER.CSS */

.weather-icon {
  font-size: 50px;
}

.weather-icon-daily {
  font-size: 30px;
}
